 body { font-family: verdana, helvetica, arial, sans-serif; background: white; }
 table { font-family: verdana, helvetica, arial, sans-serif; background: white; }
 th { font-family: verdana, helvetica, arial, sans-serif; background: white; }
 td { font-family: verdana, helvetica, arial, sans-serif; background: white; }
 h1 { font-size: +130%}   
 h2 { font-size: +120%}
 h3 { font-size: +110%}
 hr { color: gray; }
 blockquote code { font-family: courier; color: gray; }
 code { color: blue; }
 .copy { font-size: small; color: red; }
 .id { font-size: small; } 
 .code { color: blue; }
 .send { color: blue; }
 .expect { color: red; }
 .cmd { color: green; }
 .connect { color: brown; } 